- content_for :page_title do
  = I18n.t('admin.suggestion.title')

%from
  %table.table
    %thead
      %tr
        %th
          = I18n.t('admin.suggestion.priority')
        %th
          = I18n.t('admin.suggestion.type')
        %th Hashtag
        %th
          = I18n.t('admin.suggestion.explanation')
        %th
        %th
    %tbody
      - @suggestion_tags.each do |tag|
        %tr
          %td= tag.order
          %td= tag.suggestion_type
          %td= tag.name
          %td= tag.description
          %td
            = link_to edit_admin_suggestion_tag_path(tag), class: 'table-action-link' do
              %i.fa.fa-pencil-square-o
              = I18n.t('admin.suggestion.edit')
          %td
            = link_to admin_suggestion_tag_path(tag), method: :delete, class: 'table-action-link' do
              %i.fa.fa-trash
              = I18n.t('admin.suggestion.delete')
  = link_to I18n.t('admin.suggestion.add'), new_admin_suggestion_tag_path, class: 'button'
